.content__show-cart {
    background: rgba(255,255,255,0.95);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px green solid;
}

.pointer {
    cursor: pointer;
}

.show-cart__meals-and-products {
    border: 1px red solid;
    display: flex;
    flex-direction: column;
}

.meal-and-products__meals {
    border: 1px gray solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meal-and-products__meals--table {
    border: 1px red solid;
    width: 100%;
}

.mealAndProducts__meals--tableRow {
    border: 1px red solid;
}

.mealAndProducts__products {
    border: 1px blue solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mealAndProducts__products--table {
    border: 1px red solid;
    width: 100%;
}

.mealAndProducts__products--tableRow {
    border: 1px red solid;
}

.showCart__allProducts {
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showCart__allProducts--table {
    border: 1px red solid;
    width: 100%;
}

.show-cart__all-products--table-row {
    border: 1px red solid;
}

.show-cart__info {
    border: 1px red solid;
}

.cart__td--image {
    height: 64px;
    width: 100px;
}

.cart__image {
    height: 100%;
    width: 100%;
}

.cart__progress {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 600px) {
    .content__show-cart {
        flex-direction: row;
        width: 80%;
        border-radius: 5px;
        margin: 5px 0;
        padding: 12px;
    }

    .show-cart__meals-and-products {
        width: 33%;
    }

    .meal-and-products__meals {

    }

    .mealAndProducts__meals--tableRow {

    }

    .mealAndProducts__products {

    }

    .mealAndProducts__products--tableRow {

    }

    .showCart__allProducts {
        width: 33%;
    }

    .show-cart__all-products--table-row {

    }

    .show-cart__info {
        width: 33%;
    }
}