.show-cart {
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.show-cart a {
    color: #2a2a2a;
}

.show-cart a:hover {
    color: #000000;
}

.pointer {
    cursor: pointer;
}

.label-delete:hover {
    border-radius: 5px;
    color: black;
}

.show-cart__first-section {
    display: flex;
    flex-direction: column;
}

.first-section__meals {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 4px;
    padding: 3px;
}

.meals__table {
    width: 100%;
}

.meals__table-row:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.first-section__products {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding: 3px;
}

.products__table {
    width: 100%;
}

.products__table-row {
}

.products__table-row:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.showCart__second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding: 3px;
}

.second-section__table {
    width: 100%;
}

.second-section__table-row {
    border-bottom: 1px solid black;
}

.second-section__table-row:hover {
    background: rgba(0, 0, 0, 0.1);
}

.cart__td--image {
    height: 64px;
    width: 64px;
}

.cart__image {
    height: 100%;
    width: 100%;
}

.third-section__wrapper {
    background-color: rgba(0, 0, 0, 0.1);
}

.third-section__calories {
    border-bottom: 1px solid black;
    margin: 0 15px;
    padding-top: 15px;
}

.third-section__macro {
    display: flex;
    justify-content: space-around;
    padding: 10px 5px;
}

.progress__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-section__macro-title {
    margin-bottom: 4px;
}

@media (min-width: 1000px) {
    .show-cart {
        flex-direction: row;
        width: 80%;
        border-radius: 5px;
        margin: 5px 0;
        padding: 9px;
    }

    .show-cart__first-section {
        width: 33%;
    }

    .show-cart__second-section {
        width: 33%;
        margin: 0 6px;
    }

    .show-cart__third-section {
        width: 33%;
    }

    .first-section__meals {
        border-radius: 5px;
    }

    .first-section__products {
        border-radius: 5px;
    }

    .second-section__wrapper {
        border-radius: 5px;
        padding: 5px;
    }

    .third-section__wrapper {
        border-radius: 5px;
    }
}