.show-cart {
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.show-cart__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    width: 100%;
    height: 8%;
}

.head__title {
    text-decoration: underline;
    font-weight: bold;
}

.show-cart__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 92%;
}

.show-cart a {
    color: #2a2a2a;
}

.show-cart a:hover {
    color: #000000;
}

.button--delete {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.show-cart__first-section {
    display: flex;
    flex-direction: column;
}

.first-section__meals {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 4px;
    padding: 3px;
}

.first-section__products {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding: 3px;
}

.showCart__second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding: 3px;
}

.ant-table-wrapper {
    width: 100%;
}

.third-section__wrapper {
    background-color: rgba(0, 0, 0, 0.1);
}

.third-section__calories {
    border-bottom: 1px solid black;
    margin: 0 15px;
    padding-top: 15px;
}

.third-section__macro {
    display: flex;
    justify-content: space-around;
    padding: 10px 5px;
}

.progress__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-section__macro-title {
    margin-bottom: 4px;
}

.text-info {
    text-align: center;
}

@media (min-width: 1000px) {
    .show-cart {
        width: 80%;
        border-radius: 5px;
        margin: 5px 0;
        padding: 9px;
    }

    .show-cart__head {
        flex-direction: row-reverse;
        height: 8%;
        justify-content: center;
        border-bottom: #364d79 solid 1px;
        margin-bottom: 5px;
    }

    .head__title {
        margin: 0 46% 0 34%;
    }

    .show-cart__body {
        display: flex;
        flex-direction: row;
        height: 77%;
    }

    .show-cart__first-section {
        width: 33%;
    }

    .show-cart__second-section {
        width: 33%;
        margin: 0 6px;
    }

    .show-cart__third-section {
        width: 33%;
    }

    .first-section__meals {
        border-radius: 5px;
    }

    .first-section__products {
        border-radius: 5px;
    }

    .second-section__wrapper {
        border-radius: 5px;
        padding: 5px;
    }

    .third-section__wrapper {
        border-radius: 5px;
    }
}