.content__wrap--mealList {
    width: 50%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 60%;
}

.pagination {
    display: flex;
    justify-content: center;
}

.collapse-list {
    margin: 20px 0;
}