.content__wrap--mealShow {
    width: 80%;
}

.head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.head__title {
    margin-left: 10px;
}

.head__menu {
    font-size: 10px;
    display: flex;
}

.head__span {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
}

.body {
    display: flex;
    width: 100%;
    position: relative;
}

.leftPanel {
    display: flex;
    flex-direction: column;
    width: 41%;
    padding: 10px;
    position: relative;
}

.leftPanel__imageContainer {
    width: 612px;
    height: 366px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
}

.leftPanel__imageContainer--image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.rightPanel {
    min-height: 100%;
    width: 59%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
}

.rightPanel__bottom {
    display: flex;
    position: relative;
    height: 100%;
}

.description {
    display: flex;
    white-space: pre-wrap;
    position: relative;
}

.recipe {
    white-space: pre-wrap;
}