.meal-show {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.95);
}

.meal-show__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.meal-show__title {
    text-align: center;
}

.meal-show__menu {
    font-size: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.meal-show__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.meal-show__first-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.first-panel__image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 5px 0;
    border: 1px solid cornflowerblue;
    position: relative;
}

.first-panel__image {
    width: auto;
    height: auto;
    max-width: 100%;
}

.first-panel__info {
    padding: 6px;
    margin: 2px 0;
}

.meal-show__second-panel {
    display: flex;
    flex-direction: column;
}

.second-panel__meal-products {
    border: 1px solid cornflowerblue;
    border-radius: 2px;
    padding: 6px;
    margin: 2px 0;
}

.mealShow__products--tag {
    margin-bottom: 5px !important;
}

.second-panel__description {
    border-bottom: 1px solid cornflowerblue;
    border-radius: 2px;
    padding: 6px;
    margin: 2px 0;
    white-space: pre-wrap;
}

.second-panel__recipe {
    border-bottom: 1px solid cornflowerblue;
    padding: 6px;
    margin: 2px 0;
    white-space: pre-wrap;
}

@media (min-width: 600px) {
    .meal-show {
        width: 80%;
        margin: 5px 0;
        padding: 12px;
        border-radius: 5px;
    }

    .meal-show__head {
        flex-direction: row;
    }

    .meal-show__menu {
        justify-content: space-evenly;
        width: 20%;
    }

    .meal-show__title {
        margin-left: 10px;
    }

    .meal-show__body {
        flex-direction: row;
    }

    .meal-show__first-panel {
        width: 42%;
        padding: 10px;
    }

    .first-panel__image-container {
        border-radius: 5px;
        height: auto;
    }

    .first-panel__image {
        border-radius: 5px;
    }

    .first-panel__info {
        padding: 8px;
        width: 100%;
        min-width: 130px;
    }

    .meal-show__second-panel {
        width: 58%;
        padding: 8px;
    }

    .second-panel__meal-products {
        border-radius: 5px;
        padding: 8px;
        height: auto;
    }

    .second-panel__description {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .second-panel__recipe {
        width: 100%;
        padding: 8px;
        margin-right: 10px;
    }
}