.container__meal-show {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.95);
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.head__title {
    text-align: center;
}

.head__menu {
    font-size: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.firstPanel {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.firstPanel__imageContainer {
    width: 100%;
    height: 100%;
    margin: 5px 0;
    border: 1px solid cornflowerblue;
    position: relative;
}

.firstPanel__imageContainer--image {
    width: 100%;
    height: 100%;
}

.show__mealProducts {
    border: 1px solid cornflowerblue;
    border-radius: 2px;
    padding: 6px;
    margin: 2px 0;
}

.mealShow__products--tag {
    margin-bottom: 5px !important;
}
.second-panel {
    display: flex;
    flex-direction: column;
}

.show__mealDescription {
    border-bottom: 1px solid cornflowerblue;
    border-radius: 2px;
    padding: 6px;
    margin: 2px 0;
}

.show__mealRecipe {
    border-bottom: 1px solid cornflowerblue;
    padding: 6px;
    margin: 2px 0;
}

.show__meal-info {
    padding: 6px;
    margin: 2px 0;
}

.description {
    white-space: pre-wrap;
}

.recipe {
    white-space: pre-wrap;
}

@media (min-width: 600px) {
    .container__meal-show {
        width: 80%;
        margin: 5px 0;
        padding: 12px;
        border-radius: 5px;
    }

    .head {
        flex-direction: row;
    }

    .head__menu {
        justify-content: space-evenly;
        width: 20%;
    }

    .head__title {
        margin-left: 10px;
    }

    .body {
        flex-direction: row;
    }

    .firstPanel {
        width: 42%;
        padding: 10px;
    }

    .firstPanel__imageContainer {
        border-radius: 5px;
        height: auto;
    }

    .firstPanel__imageContainer--image {
        border-radius: 5px;
    }

    .show__mealProducts {
        border-radius: 5px;
        padding: 8px;
        height: auto;
    }

    .second-panel {
        width: 58%;
        padding: 8px;
    }

    .show__mealDescription {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .show__mealRecipe {
        width: 100%;
        padding: 8px;
        margin-right: 10px;
    }

    .show__meal-info {
        padding: 8px;
        width: 100%;
        min-width: 130px;
    }
}