.user-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255,255,255,0.95);
    width: 100%;
    height: 100%;
}

.user-show__body {
    display: flex;
    flex-direction: column;
}

.body__item {
    margin-top: 6px;
}

.body__image-container {
    display: flex;
    margin: auto;
    max-height: 200px;
    max-width: 200px;
}

.body__image {
    border-radius: 5px;
    margin: auto;
    width: 100%;
    height: 100%;
}

.body__image:hover {
    opacity: 0.75;
}

.user-show__icon-menu {
    margin: 35px 0 15px 0;
}

@media (min-width: 600px) {
    .user-show {
        width: 80%;
        position: relative;
    }

    .body__item {
        margin-top: 17px;
    }

    .body__image-container {
        margin-top: 20px;
    }

    .user-show__icon-menu {
        position: absolute;
        right: 0;
        margin: 20px 20px 0 0;
    }
}

@media (min-width: 750px) {
    .user-show__body {
        background-color: rgba(0,0,0, 0.1);
        padding: 30px;
        border-radius: 5px;
        margin-top: 50px;
    }
}