.ant-menu-horizontal {
    display: flex;
    margin-bottom: 25px !important;
}

.menu__logo {
    padding: 0 !important;
}

.menu__home {
    padding: 0 11px !important;
}

.menu__login {
    position: absolute !important;
    right: 20px;
}

.menu__cart {
    position: absolute !important;
    right: 94px;
}

.menu__avatar {
    margin-left: auto;
    padding-top: 3px;
}

.menu__avatar--span {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 10px;
    font-size: 10px;
}

.ant-menu-submenu-title {
    padding: 0 11px !important;
}

.no-margin {
    margin: 0 !important;
}

@media (min-width: 600px) {

    .ant-menu-horizontal {
        margin-bottom: 50px !important;
    }

    .menu__logo {
        line-height: 0;
        padding: 0 20px !important;
    }

    .menu__logo:before {
        content: 'Dieme';
        font-size: 1.9rem;
        position: relative;
        line-height: 46px;
    }

    .menu__login {
        right: 40px;
    }

    .menu__login--icon:after {
        content: "Login";
        margin-left: 8px;
        position: relative;
        bottom: 2px;
    }
}