.ant-menu-horizontal {
    display: flex;
    justify-content: space-between;
}

.menu__logo {
    padding: 0 !important;
}

.menu__avatar--span {
    justify-content: center;
    flex-direction: column;
    line-height: 15px;
    font-size: 10px;
}

.ant-menu-submenu-title {
    padding: 0 17px !important;
    height: 100%;
}

.ant-menu-submenu-title > span{
    display: flex;
    height: 100%;
    align-items: center;
}

.no-margin {
    margin: 0 !important;
}

@media (min-width: 600px) {

    .ant-menu-horizontal {
        justify-content: flex-start;
    }

    .menu__logo {
        line-height: 0;
        padding: 0 20px !important;
    }

    .menu__cart {
        margin-left: auto !important;
    }

    .menu__login {
        margin-left: auto !important;
        margin-right: 40px !important;
    }

    .menu__logo:before {
        content: 'Dieme';
        font-size: 1.9rem;
        position: relative;
        line-height: 46px;
    }

    .menu__login--icon:after {
        content: "Zaloguj się";
        margin-left: 8px;
        position: relative;
        bottom: 2px;
    }

    .menu__products--icon:after {
        content: "Produkty";
        margin-left: 8px;
        position: relative;
        bottom: 2px;
    }

    .menu__meals--icon:after {
        content: "Posiłki";
        margin-left: 8px;
        position: relative;
        bottom: 2px;
    }
}