.content {
  display: flex;
  margin: auto;
  width: 50%;
  border: 1px solid red;
}

.list {
  list-style: none;
  border: 1px solid green;
}

.list__item {
  color: black;
  font-size: 20px;
  border: 1px solid brown;
}

.list__item:first-of-type {
  background-color: dodgerblue;
}