.editMeal__content {
    width: 100%;
}

.editMeal__body {
    display: flex;
    flex-direction: column;
}

.editMeal__displayMeal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.editMeal__displayMeal--first {
}

.editMeal__imageContainer {
    width: 100%;
    height: auto;
    border: 1px solid cornflowerblue;
}

.editMeal__imageContainer--image {
    width: 100%;
    height: 100%;
}

.editMeal__info--core {
    border: 1px solid rgba(87, 87, 87, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin: 2px;
}

.editMeal__displayMeal--second {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.editMeal__description {
    border: 1px solid rgba(87, 87, 87, 0.2);
    border-radius: 3px;
    padding: 6px;
    margin: 2px;
}

.editMeal__recipe {
    border: 1px solid rgba(87, 87, 87, 0.2);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 6px;
    margin: 2px;
}

.edit__mealProducts {
    border: 1px solid rgba(87, 87, 87, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.editMeal_searchProducts {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
}

.edit__search--item {
    cursor: pointer;
}

.infinite-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    padding: 8px 24px;
    height: 565px;
}
.loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.search {
    margin-bottom: 8px !important;
}

.saveButton {
    margin-top: 10px;
}

@media (min-width: 600px) {
    .editMeal__head {
        width: 18.4%;
        margin-left: 0.5%;
    }

    .editMeal__body {
        flex-direction: row;
    }

    .editMeal__displayMeal {
        flex-direction: row;
        width: 70%;
        padding: 10px;
    }

    .editMeal__displayMeal--first {
        width: 36%;
    }

    .editMeal__imageContainer {
        border-radius: 5px;
    }

    .editMeal__imageContainer--image {
        border-radius: 5px;
    }

    .editMeal__info--core {
        border-radius: 5px;
        padding: 10px;
        margin-top: 10px;
    }

    .editMeal__description {
        border-radius: 5px;
        padding: 10px;
        margin: 0 0 10px 10px;
    }

    .editMeal__recipe {
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0 10px 10px;
    }

    .editMeal_searchProducts {
        width: 30%;
    }

    .saveButton {
        margin: 10px auto;
        width: 30%;
    }

}