.content__mealList {
    width: 100%;
    background: rgba(255,255,255, 0.2);
}

.header {
    display: flex;
    flex-direction: column;
    margin: 30px auto auto;
    text-align: center;
    width: 96%;
}

.meal-list {
    margin: 20px 0;
}

.ant-pagination {
    text-align: center;
}

@media (min-width: 600px) {
    .content__mealList {
        width: 80%;
        padding: 0 5%;
    }

    .meal-list {
        margin: 20px 0;
    }
}