.dashboard {
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    min-height: 92vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.carousel__item {
    text-align: center;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 256px !important;
    background: #364d79;
    overflow: hidden;
}

.carousel__text {
    color: #fff;
}

.dashboard-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard__table {
    width: 95%;
    margin-bottom: 10px;
}

.top-table__text {
    color: black;
}

.top-list__icon {
    font-size: 20px;
    padding-right: 4px;
}

.top-list__icon--first {
    color: gold;
}

.top-list__icon--second {
    color: silver;
}

.top-list__icon--third {
    color: saddlebrown;
}

@media (min-width: 600px) {

    .dashboard {
        width: 80%;
        border-radius: 5px;
        margin: 5px 0;
        padding: 12px;
    }

    .dashboard-lists {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 40px;
    }

    .dashboard__table {
        width: 36%;
        margin-bottom: 10px;
        text-align: center;
    }

}