.form-container {
    width: 100%;
    min-height: 100vh;
}

.form-container__wrapper {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 2% 4%;
}

.form-container__title {
    font-size: 33px;
    padding: 0 5px;
    margin: 0 0 15px 0;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__button {
    max-width: 30%;
    margin: 25px auto 10px auto;
}

.form__upload-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ant-upload-list-item-info {
    width: 100px;
}

@media (min-width: 600px) {
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-container__wrapper {
        width: 70%;
        padding: 2% 3%;
        display: flex;
        border-radius: 5px;
        flex-direction: column;
        margin: 50px 0 40px 0;
    }
}