.content__list {
    width: 100%;
    background: rgba(255,255,255, 0.9);
}

.header {
    display: flex;
    flex-direction: column;
    margin: 30px auto auto;
    text-align: center;
    width: 96%;
}

.header__title {
    font-weight: bold;
    text-decoration: underline;
}

.list {
    margin: 20px 0;
}

.ant-pagination {
    text-align: center;
}

@media (min-width: 600px) {
    .content__list {
        width: 80%;
        padding: 0 3%;
        margin: 5px 0;
        border-radius: 3px;
    }

    .header {
        width: 100%;
    }

    .list {
        margin: 20px 0;
    }
}