.ant-menu-horizontal {
    display: flex;
    margin-bottom: 8px;
}

.menu__logo {
    padding: 0;
}

.ant-menu-submenu-title {
    padding: 0 1rem;
}

.menu__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 14px;
    font-size: 0.7rem;
}

.no-margin {
    margin: 0 !important;
}
.loginAvatar {
    margin-left: auto;
}

@media (min-width: 600px) {

    .ant-menu-horizontal {
        margin-bottom: 50px;
    }

    .ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
        display: flex;
    }

    .menu__logo {
        padding: 0 20px;
    }

    .menu__logo:before {
        content: 'Dieme';
        font-size: 1.9rem;
    }

    .ant-menu-submenu-title {
        padding: 0 20px;
    }

    .loginAvatar {
        padding-top: 2px;
        margin-left: auto;
    }
}