.productsList__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
}

.content__wrap--productList {
    width: 90%;
}

@media (min-width: 600px) {
    .content__wrap--productList {
        width: 60%;
    }

    .products__list {
        margin: 20px 0;
    }
}